<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.microserviceeurekatalk.mapper.TalkMapper">
    <select id="queryTalk" parameterType="com.example.microserviceeurekatalk.entity.Talk" resultType="com.example.microserviceeurekatalk.vo.TalkVO">
        select
            t.context,
            u.name,
            t.time
        from talk t
                 left join user_info u on postId = u.id
        where (getId = #{getId} and postId = #{postId}) or (getId = #{postId} and postId = #{getId})
        order by time;

    </select>
    <select id="queryUserUnRead" parameterType="java.lang.String" resultType="com.example.microserviceeurekatalk.vo.UserInfoVO">
        select distinct
            u.id,
            name
        from user_info u
                 left join talk t on postId = u.id
        where getId = #{getId}
            order by t.readed desc
    </select>
</mapper>